<section id="content" class="cols-a">
<nav id="breadcrumbs">
	<ol>
		<li><a href="./">Home</a></li>
		<li><a href="./">About us</a></li>
	</ol>
</nav>
<article>
	<p class="em">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque augue sapien, pretium ut tempor ut, bibendum vitae nibh. Nulla mattis dolor at felis congue bibendum. Sed consequat tellus et mauris sollicitudin a hendrerit arcu dignissim. </p>
	<p class="strong">In dapibus lorem enim, vitae tristique nisl</p>
	<p>Donec ullamcorper bibendum sem, eu dictum justo auctor sit amet. </p>
</article>
</section>
<script type="text/javascript">
  head.js('http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js','javascript/scripts.js','javascript/mobile.js')
</script>
