<section id="featured">
  <article>
    <div>
      <h2>Customized implants - shaped on site</h2>
      <p>PIONIRA provides a srvice that allows you to shape custom made cranial implants on site.</p>
      <br />
      <h2>Our Service</h2>
      <ul>
        <li>creation of a 3d model for approval of the design implant</li>
        <li>production of a high precision mould</li>
        <li>short delivery times</li>
        <li>Workshops on site</li>
        <li>personal support by our staff</li>
      </ul>
    </div>
    <figure><img src="/images/schaedel_4_2_klein_wd.png" alt="Placeholder" width="550" height=""></figure>
  </article>
</section>
<section id="content">
  <div class="cols-c">
    <section>
      <figure class="image-c"><img src="/images/pionira-diy.jpg" alt="Placeholder" width="130"></figure>
      <p style="margin-top: 15px;">By using our service, you get the opportunity to produce a high quality implant yourself, leading to a significant cost reduction.<br />This is possible due to the CAD/CAM technology, which guarantees excellent cosmetic results and ensures a high level of patient satisfaction</p>
      <div class="double-a">
        <div class="news-c">
          <h3>YOUR BENEFITS</h3>
          <ul>
            <li>Excellent cost-benefit ratio</li>
            <li>Reproducible solutions without additional cost in revision cases</li>
            <li>Modifications easily possible</li>
            <li>Free choice of implant materia</li>
          </ul>
        </div>
        <div>
          <h3>YOUR TASKS</h3>
          <ul>
            <li>transmission of your patient-specific ct data</li>
            <li>Your professional participation in designing the implant</li>
            <li>production of the cranial implant</li>
          </ul>
        </div>
      </div>
    </section>
    <aside class="news-d">
      <h2>Workflow</h2>
      <article>
        <figure><img src="/images/pionira-1st.png" alt="Placeholder" width="80" height="75"></figure>
        <h3>Suspendisse mattis teli</h3>
        <p>Suspendisse mattis tellus vel augue mollis ultrices suspends </p>
        <p class="link-b"><a href="./">Read more</a></p>
      </article>
      <article>
        <figure><img src="/images/pionira-2nd.png" alt="Placeholder" width="80" height="75"></figure>
        <h3>Mauris at justo eu lect</h3>
        <p>Suspendisse mattis tellus vel augue mollis ultrices suspends </p>
        <p class="link-b"><a href="./">Read more</a></p>
      </article>
      <article>
        <figure><img src="/images/pionira-3rd.png" alt="Placeholder" width="80" height="75"></figure>
        <h3>Vel augue mollis ultri</h3>
        <p>Suspendisse mattis tellus vel augue mollis ultrices suspends </p>
        <p class="link-b"><a href="./">Read more</a></p>
      </article>
    </aside>
  </div>
</section>
