<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>PIONIRA-Medical</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/javascript/head.js"></script>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald:400,700" media="screen">
		<link rel="stylesheet" type="text/css" href="/styles/screen.css" media="screen">
		<link rel="stylesheet" type="text/css" href="/styles/print.css" media="print">
    <%= csrf_meta_tags %>
	</head>
	<body>
		<div id="root">
			<header id="top">
				<h1><a href="./" accesskey="h"><img src="/images/pionira-logo.png" alt="Placeholder" width="300" height=""></a></h1>
				<nav id="nav">
					<ul class="secondary">
						<li><a href="./">Imprint</a></li>
						<li><a href="./">Contact</a></li>
					</ul>
				</nav>
				<form action="./" method="post" id="search">
					<fieldset>
						<p>Call us <span class="tel">+49 (0)6201 8462592</span></p>
					</fieldset>
				</form>
			</header>
      <%= yield %>
			<footer id="footer">
				<nav>
					<div class="vcard">
						<h3 class="fn org">PIONIRA Medical GmbH</h3>
						<p class="adr"><span class="street-address">Breitgasse 5a</span>, <span class="locality">69493</span> <span class="region">Hirschberg</span>, <span class="country-name">Germany</span></p>
						<ul>
							<li class="tel">+49 6201 8462592</li>
							<li><a class="email">info//pionira-medical/com</a></li>
						</ul>
						<ul class="social-a">
							<li class="fb"><a rel="external" href="./">Facebook</a></li>
							<li class="tw"><a rel="external" href="./">Twitter</a></li>
							<li class="ms"><a rel="external" href="./">MySpace</a></li>
						</ul>
					</div>
					<div class="vcard">
						<h3 class="fn org">Pionira Medical North America LLC</h3>
						<p class="adr"><span class="street-address">6628 Bryant Irvin Road</span><br /><span class="locality">Ft Worth, Texas 76132</span>, <span class="postal-code">4227</span>, <span class="country-name">USA</span></p>
						<ul>
							<li><a class="email">info//pionira-medical/com</a></li>
						</ul>
					</div>
				</nav>
				<p>Copyright <span class="date">2013</span> &copy; <a href="./">Medical Centre, Inc.</a> All Rights Reserved.</p>
			</footer>
		</div>
	</body>
</html>
